.btn {
  height: 60px;
  font-size: 37px;
  background-image: linear-gradient(to right, #4177aa, #384857);
  border: 1px solid black;
  color: #fff;
  width: 100px;
  outline: none;
  border-radius: 3px;
  margin: 5px;
}

h1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #ffffff;
}

.footer {
  margin-top: 20px;
  text-align: center;
  color: white;
}

.all-clear,
.zero-btn {
  width: 50%;
}

.sin {
  width: 50%;
}

.btn:hover {
  color: aliceblue;
  background-color: #4b5b61;
  cursor: pointer;
  border: 2px solid white;
}

.calculator {
  margin: 0 auto;
  text-align: center;

  width: 400px;
}

.calculator-screen {
  width: 100%;
  height: 100px;
  background-color: #3a5b77;
  color: #fff;
  text-align: right;
  font-size: 36px;
  border: none;
  padding: 0 20px;
  box-sizing: border-box;
  border-radius: 5px;
}

.calculator-keys {
  width: 100%;
}

.row {
  display: flex;
}

body {
  background-image: linear-gradient(to right, #384857, #4c504e);
}
